{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Lambda Alpha Nu</h1>
    <p>Fall 2014 Rush Application</p>
  </div>
  <div class="well">
    <form role="form" action="/save" method="post">
      <div class="form-group">
        <label for="fname">First name</label>
        <input type="text" class="form-control" id="fname" name="fname" placeholder="First name">
      </div>
      <div class="form-group">
        <label for="lname">Last name</label>
        <input type="text" class="form-control" id="lname" name="lname" placeholder="Last name">
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select class="form-control" id="gender" name="gender">
          <option>Male</option>
          <option>Female</option>
          <option>Other / Non-idetifying</option>
        </select>
      </div>
      <div class="form-group">
        <label for="year">School Year</label>
        <select class="form-control" id="year" name="year">
          <option>1st Year</option>
          <option>2nd Year</option>
          <option>3rd Year</option>
          <option>4th Year</option>
          <option>Year 5+</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
      </div>
      <span class="help-block">All fields are required</span>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
