{% extends 'layout.html' %}

{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h1>Application {{ application.id }}</h1></div>
    <div class="panel-body">
      <table class="table">
        <tr>
          <th>Gender</th>
          <th>Year</th>
        </tr>
        <tr>
          <td>{{ application.gender }}</td>
          <td>{{ application.year }}</td>
        </tr>
      </table>
      {% if events.length > 0 %}
        <h3>Events Attended</h3>
        <ul class="list-group">
        {% for event in events %}
          <li class="list-group-item">{{ events }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      <h3>Question 1</h3>
      <p>{{ application.question1 }}</p>
    </div>
  </div>
  {% if success.length > 0 %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      {{ success }}
      <br>
      <a href="/review" class="alert-link">Go back to the application list</a>
    </div>
  {% endif %}
  <div class="panel panel-default">
    <div class="panel-body">
      <form role="form" action="/review/{{ application.id }}/save" method="post">
        <div class="form-group">
          <label for="comments">Comments</label>
          <textarea class="form-control" rows="3" id="comments" name="comments">{{ myReview.comments }}</textarea>
        </div>
        <div class="form-group">
          <div class="radio">
            <label>
              <input type="radio" name="weight" value="1" {% if myReview.weight ==  1 %} checked {% endif %}> Strong Reject
            </label> 
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="weight" value="2" {% if myReview.weight ==  2 %} checked {% endif %}> Weak Reject
            </label> 
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="weight" value="3" {% if myReview.weight ==  3 %} checked {% endif %}> Neutral
            </label> 
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="weight" value="4" {% if myReview.weight ==  4 %} checked {% endif %}> Weak Recruit
            </label> 
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="weight" value="5" {% if myReview.weight ==  5 %} checked {% endif %}> Strong Recruit
            </label> 
          </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
  {% if reviews.length > 0 %}
    <div class="panel panel-default">
      <div class="panel-body">
      {% for review in reviews %}
        <h3>Reviewer:</h3>
        {{ review.reviewerName }}
        <h3>Comments:</h3>
        {{ review.comments }}
        <h3>Weight:</h3>
        {{ review.weight }}
        <hr>
      {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
